{{define "currencies"}}
    {{template "top" .}}
    <div class="header">
        <h1>Currencies</h1>
        <div class="button-group">
            <form method="POST" action="/currencies/reset">
                <button type="submit" class="button button-primary" onclick="return confirm('This action will delete all your currency settings and restore the defaults. Are you sure?')">
                    Set Defaults
                </button>
            </form>
        </div>
    </div>

    <div class="table-wrap">
        <table>
            <thead>
                <tr>
                    <th>ISO Code</th>
                    <th>Name</th>
                    <th>Decimals</th>
                    <th>FX Rate</th>
                    <th>Enabled</th>
                </tr>
            </thead>
            <tbody>
                {{range .}}
                <tr class="table-tr-clickable" onclick="window.location='/currencies/{{.ID}}'" onauxclick="window.open('/currencies/edit/{{.ID}}', '_blank')">
                    <td>
                        {{template "flag" .ISOCode}}
                        <span class="mono">{{.ISOCode}}</span>
                    </td>
                    <td>{{.Name}}</td>
                    <td>{{.Decimals}}</td>
                    <td>{{printf "%.2f" .FXRate}}</td>
                    <td>
                        {{if .IsEnabled}}
                            <span class="badge badge-green">Yes</span>
                        {{else}}
                            <span class="badge badge-red">No</span>
                        {{end}}
                    </td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
    {{template "bottom" .}}
{{end}}
